
<div class="container">
  <div class="login form">
    <header>Login</header>
    <form (ngSubmit)="onSubmit()">
      <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" placeholder="Enter your email">
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Enter your password">
      <input type="submit" class="button" value="Login">
    </form>
    <button class="button" (click)="redirigerVersAccueil()">Page Précédente</button>
  </div>



<div *ngIf="!isAuthenticated" class="alert alert-danger" role="alert">
  Nom d'utilisateur ou mot de passe incorrect.
</div>





